
*{
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightgreen;
    background-color: rgb(60,60,60);
    /* padding-bottom: 60px; */
    overflow: visible;
  }
body.hidden{
  overflow: hidden;
}

  /* spinnerWrapper */
  #spinnerWrapper{
    background: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: '5';
  }
  #spinnerWrapper div{
    width: 100px;
    height: 100px;
    background-color: white;
    animation: rotate 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }
  div#spinnerWrapper.d-none{
    display: none;
  }
  @keyframes rotate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  button{
    font-size: 20px;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 0px;
    background-color: grey;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:focus{
    outline: none;
    box-shadow: 0px 0px 12px 1px grey;
  }
  input:focus{
    outline: none;
    border-radius: 5px;
    /* box-shadow: 0px 0px 12px 1px grey; */
  }

  .title{
    text-align: center;
  }

  .user-title{
    color: rgb(40,40,50);
    margin: 0;
    padding: 10px;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .options{
    position: fixed;
    right: 16px;
    font-size: 26px;
    color: rgb(40,40,40);
    padding-top: 16px;
    cursor: pointer;
    transition: all 1s;
  }
  .transparent{
    opacity: 0%;;
  }
  .user-photo{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
  }

/* Div del titulo (y el icono) en HeaderTitle */
#weedway-title{
  /* background-color: rgb(30,30,30); */
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#weedway-title h2{
  color: rgb(40,230,40);
  max-width: 400px;
  margin-left: 4px;
  font-family: monospace;
  font-size: 34px;
  text-align: center;
  cursor: pointer;
}
#weedway-title img{ /* Este es el icono weedway */
  height: 40px;
}

  .allRightsReserved{
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .allRightsReserved h2{
    /* color: rgb(110,230,110); */
    color: whitesmoke;
    max-width: 400px;
    margin: 0 8px;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
  }

  .nav-button{
    width: 10%;
    min-width: 70px;
  }
  .nav-button button{
    width: 100%;
    height: 100%;
    padding-top: 5px;
    color: rgb(40,230,40);
    background-color: rgba(50,50,50,0.5);
    border-bottom: 0px purple solid;
    transition: all .2s;
  }
  .nav-button button:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 5px purple solid;
  }
  .navItem{
    color: rgb(40,230,40);
    background-color: rgb(10,10,10);
    border: none;
    padding: 2px;
    width: 100%;
    height: 50px;
    text-decoration: none;
    line-height: 18px;
    font-size: 14px;
    border-bottom: 0px purple solid;
    transition: all .2s;
  }
  .navItem:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 5px purple solid;
  }
  .navBar .navItem{
    background-color: rgb(10,10,10);
    border-radius: 0;
  }
  .navBar .navItem:hover{
    color: black;
    background-color: rgb(50,200,50);
  }
  /* .navItem span{
    float: left;
  } */
  .navIcon{
    display: block;
    font-size: 22px;
  }

  .footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    box-shadow: 0px 0px 10px 5px black;
    z-index: 2;
  }
  .footer .navItem{
    background-color: transparent;
  }
  .footer .navItem:hover{
    color: black;
    background-color: rgb(50,200,50);
    border-radius: 20px 20px 0 0;
  }

  .btn-block{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .btn-block:hover{
    color: lightgreen;
    background-color: #000;
  }
  .btn-options{
    background-color: rgba(255,228,196,0.6);
  }

.img-post{
    width: 100%;
}
.interaction-section{
    padding: 4px 10px;
}
.interaction-button{
    padding: 5px;
    color: rgb(40,40,40);
    font-size: 28px;
    cursor: pointer;
}
.fondo-negro{
    background-color: black;
}
.description{
    color: rgb(40,40,50);
    margin: 0;
    padding: 5px;
}
.description span{
    font-weight: bold;
}
.press-comentario{
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 14px;
}
.comentar{
    display: flex;
    margin: 5px;
    border-bottom: 1px grey solid;
    transition: all 1s;
}
.comentario{
      margin-left: 20px;
      font-size: 14px;
}
.d-none{
    display: none;
}

.comentario-text-input{
    background-color: rgba(255,255,255,0);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    transition: all 1s;
}
.send{
    background-color: rgba(255,255,255,0);
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown{
    /* display: none; */
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
    background-color: bisque;
    color: #000;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    transition: all 1s;
  }
  .dropdown button{
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    line-height: 4rem;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    border: none;
    margin: auto;
    /* padding: 16px 0; */
    /* padding-top: 20px; */
  }

#menuLateral{
  /* box-sizing: border-box; */
  backdrop-filter: blur(8px);
}

.none{
  display: none;
}

#logOut:hover{
  box-shadow: 0px 1px 8px 0px rgb(255, 130, 130);
}

#changeUserName input{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin: 10px 0;
  padding: 5px 0;
  border: none;
  border-radius: 6px;
}
#formToAtuh{
  position: relative;
}
input.inputForm{
  background-color: rgb(190, 60, 60);
  color: white;
  border: none;
  border-radius: 2rem;
  margin: 5px 20px;
  padding: 0px 20px;
  width: calc(100% - 80px);
  height: 40px;
  padding-top: 10px;
  transition: all 0.3s;
}
input.inputForm:focus{
  color: white;
  background-color: rgb(190, 60, 60);
  box-shadow: 0px 0px 10px 0px red;
}
.username-label{
  color: rgb(250,210,210);
  font-size: 24px;
  position: absolute;
  top: 9px;
  left: 20px;
  transition: all 0.1s;
}
.password-label{
  color: rgb(250,210,210);
  font-size: 24px;
  position: absolute;
  top: 9px;
  left: 20px;
  transition: all 0.1s;
}

#username input:focus ~ .username-label{
  position: absolute;
  top: 2px;
  font-size: 14px;
  color: white;
}

#password-user input:focus ~ .password-label{
  position: absolute;
  top: 2px;
  font-size: 14px;
  color: white;
}

.username-label-focused{
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 14px;
  color: white;
}
.password-label-focused{
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 14px;
  color: white;
}

input#login-btn:focus{
  border: 3px solid rgb(240, 70, 50);
}
/* .profile-posts{
  display: flex;
} */
.profile-posts img{
  background-color: grey;
  width: 27.3%;
  /* height: 100px; */
  margin: 3%;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill{
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 251, 139) inset;
}
input:-webkit-autofill ~ .username-label-focused{
  color: black;
}
input:-webkit-autofill:hover{
  /* -webkit-text-fill-color: black; */
  -webkit-box-shadow: 0 0 0px 100px rgb(255, 184, 137) inset;
}
input:-webkit-autofill:focus{
  /* -webkit-text-fill-color: whitesmoke; */
  -webkit-box-shadow: 0 0 0px 100px rgb(255, 128, 105) inset !important;
}
/* END Change autocomplete styles in WebKit */


/* .nav-Links li:nth-child() */

@media screen and (max-width: 440px){
  .send{
      font-size: 18px;
    }
}

@media screen and (max-width: 340px){
  #weedway-title h2{
    font-size: 26px;
  }
  #weedway-title img{
    height: 34px;
  }
}

/* LOGIN */
/* @media screen and (min-height: 800px){
  .allRightsReserved{
    position: absolute;
    bottom: 0;
  }
} */
